
.cardServ1{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 50px;
    position: relative;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    


}

