.bg-gri{
    
        background-image: linear-gradient(184deg, #2d3436 0%, #011120 100%);
   
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100vh;
        /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); */
      
}
.img-wave img {
  

   
    /* background: yellow; */
    position: absolute;
    bottom: -110px;
    z-index: 1;
    width: 100% ;
   



 
    
}
.heading{
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    height:100%;
    padding-left: 40px;
    padding-top: 210px;
    
    /* background-color:#000; */
    

    
}
.heading h1{
   font-size: 30px;
   position: relative;;
   top: 0px;
   left: 0px;
   line-height: 1;
   text-shadow: 3px 3px 1px #271704;
   font-family: 'Nunito', sans-serif;
}
.my-3 { 
    font-size: 15px; 
    color: white;
    position: relative;;
    line-height: 1;
    text-shadow: 3px 3px 1px #271704;
    font-family: 'Nunito', sans-serif;

}

.animationChar{
    text-align: right;
    /* position:absolute; */
    /* top:10px; */
    /* left:0; */
    /* right:40px; */
    width:1000px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    
   
}
@-webkit-keyframes up-down {
    0% {
        transform: rotate(0deg);
        transform: translateY(20px);
    }
    50% {
        transform: rotate(-1deg);
        transform: translateY(-10px);
    }
    100% {
        transform: rotate(1deg);
        transform: translateY(10px);
    }
}
@keyframes up-down {
    0% {
        transform: rotate(0deg);
        transform: translateY(20px);
    }
    50% {
        transform: rotate(-1deg);
        transform: translateY(-10px);
    }
    100% {
        transform: rotate(1deg);
        transform: translateY(10px);
    }
}

.brand-name{
    color: #e84118;
}
.btn-outline-danger:hover{
    background-color:#e84118; ;
}
.btn-outline-danger{
    color:#e84118;
    border-color:#e84118 ;
}
.btn-get-started{
  
    position: absolute;
    /* padding-top: 30px; */
    left: 35px;
    top: 330px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 10px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    color: #e84118;
    transition: 0.5s;
    border: 2px solid #e84118;
    text-decoration: none;
    cursor: pointer;

}
.btn-get-started:hover{
    background-color: #e84118 ;
    color:white;
    animation: shake 0.2s;
}
@keyframes shake {
    0%{transform: translate(1px,1px) rotate(0deg);}
    10%{transform: translate(-1px,-2px) rotate(-1deg);}
    20%{transform: translate(-3px,0px) rotate(1deg);}
    30%{transform: translate(3px,2px) rotate(0deg);}
    40%{transform: translate(1px,1px) rotate(0deg);}
    50%{transform: translate(-1px,-2px) rotate(-1deg);}
    60%{transform: translate(-3px,0px) rotate(1deg);}
    70%{transform: translate(3px,2px) rotate(0deg);}
    80%{transform: translate(1px,1px) rotate(0deg);}
    90%{transform: translate(-1px,-2px) rotate(-1deg);}
    100%{transform: translate(-3px,0px) rotate(1deg);}
}
